In [1]:
import numpy as np
import pandas as pd
import scipy.sparse as sparse

In [2]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
from sklearn import model_selection as ms

ratings = pd.read_csv('ratings.csv')
ratings.head()

train_data, test_data = ms.train_test_split(ratings, test_size=0.25)
train_data.head()

       userId  movieId  rating   timestamp
42656     306     1244     3.0   939901059
2281       15    64620     2.0  1245021120
13337      86      178     5.0   848160534
43606     311     1008     3.0   898008288
15760     102     2248     4.0   956599117

In [21]:
n_users = ratings.userId.unique().shape[0]
n_movies = ratings.movieId.unique().shape[0]

new_user_ids = {}
new_movie_ids = {}

next_user_id = 0
next_movie_id = 0

train_data_matrix = np.zeros((n_users, n_movies))
for _, userId, movieId, rating, _ in train_data.itertuples():
    if userId in new_user_ids:
        userId = new_user_ids[userId]
    else:
        new_user_ids[userId] = next_user_id
        next_user_id += 1
        userId = new_user_ids[userId]
    
    if movieId in new_movie_ids:
        movieId = new_movie_ids[movieId]
    else:
        new_movie_ids[movieId] = next_movie_id
        next_movie_id += 1
        movieId = new_movie_ids[movieId]
    
    train_data_matrix[userId, movieId] = rating
    
train_data_matrix

array([[ 3.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  2.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  5., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [ ]:
from scipy import spatial